 .char-container {
     display: flex;
     flex-direction:row;
     flex-wrap: wrap;
     justify-content: flex-start;
     flex-basis: auto;
     background-color: black;
     
 }
 .char-info {
     text-align: center;
     
 }
